#front-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h1{
        text-align: center;
    }
    > p{
        max-width: 26em;
        margin: 0 auto;
        padding-top: 10px;
        transform: translateY(-5vh);
        background: linear-gradient(transparent, var(--whit) 7px);
        z-index: 3;
    }
} .wave{
    position: absolute;
    transform: translateY(-95%);
    height: 10vh;
    width: 100%;
    z-index: 3;
    > img{
        display: block;
        transform: translateY(20%);
        height: 13vh;
        width: 100%;
        display: block;
    }
}


@media screen and (max-width: 600px) {
    #front-page{
        h1{
            line-height: .8em;
            margin-bottom: .2em;
        }
        padding: 1.5em;
    }
}