#info-page-1{
    background: var(--thir);
    display: flex;
    align-items: center;
    overflow: hidden;
    > .wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > div, > figure{
            width: 50%;
        }
        > div{
            color: var(--seco);
            padding: 0 100px;
        }
        > figure{
            position: relative;
            height: 60vh;
            > img{
                position: absolute;
                transform: translateX(-50%);
                &:first-of-type{
                    width: 150px;
                    left: 50%;
                }
                &:nth-of-type(2){
                    width: 100px;
                    top: 160px;
                    left: 62%;
                }
                &:nth-of-type(3){
                    width: 90px;
                    top: 230px;
                    left: 43%;
                }
                &:nth-of-type(4){
                    width: 70px;
                    top: 345px;
                    left: 54%;
                }
                &:nth-of-type(5){
                    width: 50px;
                    top: 465px;
                    left: 51%;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #info-page-1{
        .wrapper > div{
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            padding: 0 1.5em;
        }
        figure{
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    #info-page-1{
        .wrapper > div{
            margin: 0;
            max-width: none;
        }
    }
}