footer {
    padding-top: 5vh;
    background: var(--thir);
    h6, p{
        color: var(--fift);
        text-shadow: 0px 0px .6em var(--seco);
    }
}
@media screen and (max-width: 1000px) {
    footer{
        h6, p{
            color: var(--fift);
            text-shadow: 0px 0px .2em var(--seco);
        }
    }
}