<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/views/fn_info.css">
    <link rel="icon" href="../materials/illustrations/logo.svg">
    <title>The Depths</title>
</head>
<body lang="da">

    <!-- Header ------------------------------------------------------------------------------------------- -->

    <header>
        <figure>
            <a href="../index.html">
                <img src="../materials/illustrations/logo.svg" alt="logo">
            </a>
        </figure>
        <nav>
            <a href="./verdensmaal_list.html">FN's Verdensmål</a>
        </nav>
    </header>
    
    <section id="fn-info">
        
    </section>

    <!-- Footer Wave -------------------------------------------------------------------------------------- -->
        
    <figure class="wave">
        <img src="../materials/illustrations/Boelger.svg" alt="Wave illustration">
    </figure>
    
    <!-- Footer ------------------------------------------------------------------------------------------- -->
    
    <footer>
        <div>
            <div>
                <h6>
                    Kontakt os
                </h6>
                <p>
                    E-mail: support@ihavebraindamage.com
                    <br>
                    Tlf: 29718656
                </p>
            </div>
        </div>
        <div>
            <figure>
                <a href="https://illvid.dk/" target="_blanc">
                    <img src="../materials/illustrations/ilvid_logo.png" alt="Illustreret Videnskabs Logo">
                </a>
            </figure>
        </div>
    </footer>
    <script src="../scripts/contentSwitch.js" defer></script>
</body>
</html>