<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/views/list.css">
    <link rel="icon" href="../materials/illustrations/logo.svg">
    <title>The Depths</title>
</head>
<body lang="da">

    <!-- Header ------------------------------------------------------------------------------------------- -->

    <header>
        <figure>
            <a href="../index.html">
                <img src="../materials/illustrations/logo.svg" alt="logo">
            </a>
        </figure>
    </header>
    
    <section id="list">
        <div>
            <h2 class="fadein">
                FN's <br>
                Verdensmaal
            </h2>
            <p class="fadeindelayed">
                Her kan du læse om de fire relevante verdensmål <br> indenfor forurening i verdenshavene
            </p>
        </div>
        <div class="fadeindelayed">
            <figure>
                <a href="./verdensmaal.html?6">
                    <img src="../materials/fn/fn6.png" alt="">
                </a>
            </figure>
            <figure>
                <a href="./verdensmaal.html?12">
                    <img src="../materials/fn/fn12.png" alt="">
                </a>
            </figure>
            <figure>
                <a href="./verdensmaal.html?13">
                    <img src="../materials/fn/fn13.png" alt="">
                </a>
            </figure>
            <figure>
                <a href="./verdensmaal.html?14">
                    <img src="../materials/fn/fn14.png" alt="">
                </a>
            </figure>
        </div>
    </section>

    <!-- Footer Wave -------------------------------------------------------------------------------------- -->
        
    <figure class="wave">
        <img src="../materials/illustrations/Boelger.svg" alt="Wave illustration">
    </figure>
    
    <!-- Footer ------------------------------------------------------------------------------------------- -->
    
    <footer>
        <div>
            <div>
                <h6>
                    Kontakt os
                </h6>
                <p>
                    E-mail: support@ihavebraindamage.com
                    <br>
                    Tlf: 29718656
                </p>
            </div>
        </div>
        <div>
            <figure>
                <a href="https://illvid.dk/" target="_blanc">
                    <img src="../materials/illustrations/ilvid_logo.png" alt="Illustreret Videnskabs Logo">
                </a>
            </figure>
        </div>
    </footer>
</body>
</html>