<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/views/fn_info.css">
    <link rel="icon" href="../materials/illustrations/logo.svg">
    <title>The Depths</title>
</head>
<body lang="da">

    <!-- Header ------------------------------------------------------------------------------------------- -->

    <header>
        <figure>
            <a href="../index.html">
                <img src="../materials/illustrations/logo.svg" alt="logo">
            </a>
        </figure>
        <nav>
            <a href="./templates/verdensmaal_list.html">FN's Verdensmål</a>
        </nav>
    </header>
    
    <section id="fn-info">
        <h1>
            Rent vand og sanitet
        </h1>
        <p>
            Vandmangel påvirker mere end 40 procent af verdens befolkning. Det er et alarmerende tal, som  forventes at øge med de stigende globale temperaturer forårsaget af klimaændringerne. 
        </p><br>
        <p>
            Selvom 2,1 milliarder mennesker har fået forbedret adgang til vand og sanitet siden 1990, er svindende forsyninger af rent drikkevand et stort problem, som påvirker alle kontinenter.
        </p><br>
        <p>
            I 2011 oplevede 41 lande ”vandstress”; ti af dem er tæt på at udtømme deres kilder med vedvarende ferskvand og må nu regne med ikke-konventionelle kilder. Tørke og ørkendannelse forværrer allerede disse tendenser. I 2050 forventes det, at hver fjerde er påvirket af tilbagevendende vandmangel.
        </p><br>
        <p>
            Universel adgang til sikkert og billigt drikkevand til alle inden 2030 kræver, at vi investerer i infrastruktur, leverer sanitære faciliteter og fremmer hygiejne på alle niveauer. Beskyttelse og genoprettelse af vandrelaterede økosystemer som skove, bjerge, vådområder og floder er afgørende, hvis vi skal afbøde vandmangel. Der er også brug for at styrke det internationale samarbejde for at fremme vandeffektivitet og støtte behandlingsteknologier i udviklingslande.
        </p><br>
        <p>
            Adgang til vand og sanitet er et af 17 verdensmål, som indgår i udviklingsdagsordenen for bæredygtig udvikling frem mod 2030. En integreret tilgang er afgørende for fremskridt på tværs af de forskellige mål.
        </p>
    </section>

    <!-- Footer Wave -------------------------------------------------------------------------------------- -->
        
    <figure class="wave">
        <img src="../materials/illustrations/Boelger.svg" alt="Wave illustration">
    </figure>
    
    <!-- Footer ------------------------------------------------------------------------------------------- -->
    
    <footer>
        <div>
            <div>
                <h6>
                    Kontakt os
                </h6>
                <p>
                    E-mail: support@ihavebraindamage.com
                    <br>
                    Tlf: 29718656
                </p>
            </div>
        </div>
        <div>
            <figure>
                <img src="../materials/illustrations/ilvid_logo.png" alt="Illustreret Videnskabs Logo">
            </figure>
        </div>
    </footer>
</body>
</html>